<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colrolib Templates">
    <meta name="author" content="Colrolib">
    <meta name="keywords" content="Colrolib Templates">

    <!-- Title Page-->
    <title>Trung Tâm Bảo Hành</title>

    <!-- Icons font CSS-->
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <!-- Vendor CSS-->
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/main.css" rel="stylesheet" media="all">
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="/layouts/css/bootstrap.css">
<!--    <script src="/layouts/js/jquery2.0.3.min.js"></script>-->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/layouts/js/bootstrap.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
    <script type="text/javascript" src="/js/sweetalert2.min.js"></script>
</head>

<body>
<div class="page-wrapper bg-img-1 p-t-200 p-b-120">
    <div class="wrapper wrapper--w900">
        <div class="card card-4">
            <div class="card-body">
                <ul class="tab-list">
                    <li class="tab-list__item active">
                        <a class="tab-list__link" href="#tab1" data-toggle="tab">Tra Cứu Sản Phẩm</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <form id="formSearchProduct">
                            <div class="input-group input-group-big">
                                <label class="label">Serial Number:</label>
                                <input class="input--style-1" type="text" id="searchProduct" name="search" placeholder="Serial Number" required="required">
                                <i class="zmdi zmdi-search input-group-symbol"></i>
                            </div>
                            <div id="load-data"></div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <button class="btn-submit" type="submit" onclick="">search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--     The Modal View Product-->
    <div class="modal" id="viewSearchProductModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Sản Phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="viewSearchProductForm">
                        <div class="form-group" style="text-align: center">
                            <p>Tên Khách Hàng: <span style="color: #0e8f9f" id="viewCustomerFullName"></span></p>
                        </div>
                        <table id="table-search-product" class="table table-hover table-bordered text-nowrap table-search-product">
                            <thead>
                            <tr>
                                <th>Serial Number</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Dòng Sản Phẩm</th>
                                <th>Ngày Bắt Đầu Bảo Hành</th>
<!--                                <th>Ngày Kết Thúc Bảo Hành</th>-->
                                <th>Mô Tả Sản Phẩm</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<!--<script src="/vendor/jquery/jquery.min.js"></script>-->
<!-- Vendor JS-->
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/jquery-validate/jquery.validate.min.js"></script>
<script src="/vendor/bootstrap-wizard/bootstrap.min.js"></script>
<script src="/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="/vendor/datepicker/moment.min.js"></script>
<script src="/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/js/global.js"></script>
<script src="/js/searchProduct.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->